# Fazendo o processo inicial como importar as bibliotecas, conferir o dataset etc

In [2]:
# Importando o pandas que irei usar para explorar o dataset

import pandas as pd

In [3]:
# Importando os dois dataset, já separado entre treino e teste

df = pd.read_csv('titanic_train.csv')
teste = pd.read_csv('titanic_test.csv')

In [4]:
# Checando os 4 primeiros valores e os 4 últimos valores do dataset

df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [7]:
# Verificando os possiveis valores da coluna Sex e sua quantidade

df.Sex.value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [8]:
# Criando uma coluna com o nome "IsMale" que se o sexo for masculuno o valor sera 1 e se for feminino, o valor sera 0
# Assim transformando em binario e deixando compativel com o modelo

df['IsMale'] = df['Sex'].apply(lambda x: 1 if x =='male' else 0)

In [9]:
# Checando se não criou nenhum valor diferente e se continua o mesmo tanto

df.groupby(['Sex', 'IsMale'])['Sex'].count()

Sex     IsMale
female  0         314
male    1         577
Name: Sex, dtype: int64

# Retirando algumas colunas que não irei usar no modelo

In [10]:
retirar = ['SibSp', 'Parch']
df = df.drop(retirar, axis=1)

In [11]:
#pd.get_dummies(df['Embarked']).head(10)  Este tratamento piorou o modelo

In [12]:
#df = pd.concat([df, pd.get_dummies(df['Embarked'])], axis=1)  Este tratamento piorou o modelo

In [13]:
df = df.drop(['PassengerId', 'Name'], axis=1)

In [14]:
df = df.drop('Cabin', axis=1)

# ------

In [15]:
# Calculando a Media de idade dos passageiros

df['Age'].mean(

29.69911764705882

In [16]:
# Filtrando apenas Age Vazios

df.loc[df['Age'].isnull(), 'Age']

5     NaN
17    NaN
19    NaN
26    NaN
28    NaN
       ..
859   NaN
863   NaN
868   NaN
878   NaN
888   NaN
Name: Age, Length: 177, dtype: float64

In [17]:
# Atribuindo a media para as colunas vazias

df.loc[df['Age'].isnull(), 'Age'] = df['Age'].mean()

In [18]:
# Verificando valores vazios

df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       891 non-null    float64
 4   Ticket    891 non-null    object
 5   Fare      891 non-null    float64
 6   Embarked  889 non-null    object
 7   IsMale    891 non-null    int64
dtypes: float64(2), int64(3), object(3)
memory usage: 55.8+ KB

Survived    0
Pclass      0
Sex         0
Age         0
Ticket      0
Fare        0
Embarked    2
IsMale      0
dtype: int64

In [19]:
# Excluindo tudo que tem espaço vazio

df = df.dropna()

In [20]:
# Eliminando dados do tipo objeto, não são compativeis com o modelo

colunas = df.dtypes[df.dtypes.values == 'object'].index
df = df.drop(colunas, axis=1)

In [21]:
# Pegando as informações do dataframe

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  889 non-null    int64
 1   Pclass    889 non-null    int64
 2   Age       889 non-null    float64
 3   Fare      889 non-null    float64
 4   IsMale    889 non-null    int64
dtypes: float64(2), int64(3)
memory usage: 41.7 KB

In [22]:
# Todo o tratamento que fiz com o dataset DF(treino), Estou refazendo com o de teste

teste['IsMale'] = teste['Sex'].apply(lambda x: 1 if x == 'male' else 0)
#teste = pd.concat([teste, pd.get_dummies(teste['Embarked'])], axis=1) Estre tratamento piorou o modelo
teste = teste.drop(['PassengerId', 'Name'], axis=1)
teste = teste.drop('Cabin', axis=1)
teste.loc[teste['Age'].isnull(), 'Age'] = teste['Age'].mean()
teste = teste.dropna()
teste = teste.drop(colunas, axis=1)
teste = teste.drop(retirar, axis=1)

In [23]:
# Pegando as informações do dataframe

teste.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 417 entries, 0 to 417
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  417 non-null    int64
 1   Pclass    417 non-null    int64
 2   Age       417 non-null    float64
 3   Fare      417 non-null    float64
 4   IsMale    417 non-null    int64
dtypes: float64(2), int64(3)
memory usage: 19.5 KB

In [24]:
# Importando as bibliotecas e criando os classificadores

from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=3)

from sklearn import tree
clfArvore = tree.DecisionTreeClassifier(random_state=0)

from sklearn.linear_model import LogisticRegression
clfLog = LogisticRegression(random_state=0, max_iter=1000)

# Criando as variaveis de treino de teste

In [25]:
X_treino = df.drop('Survived', axis=1)
y_treino = df.Survived

In [26]:
X_teste = teste.drop('Survived', axis=1)
y_teste = teste.Survived

# ---

In [27]:
# Fazendo o fit dos dados nos modelos

neight = neigh.fit(X_treino, y_treino)

clfArvore = clfArvore.fit(X_treino, y_treino)

clfLog = clfLog.fit(X_treino, y_treino)

In [28]:
# Colocando os modelos para prever os dados

pred_KNN = neigh.predict(X_teste)

pred_Arvore = clfArvore.predict(X_teste)

pred_Log = clfLog.predict(X_teste)

# Avaliando os modelos

In [29]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

In [30]:
print(accuracy_score(y_teste, pred_KNN))
print(accuracy_score(y_teste, pred_Arvore))
print(accuracy_score(y_teste, pred_Log))

0.6546762589928058
0.7961630695443646
0.9568345323741008

In [31]:
print(precision_score(y_teste, pred_KNN))
print(precision_score(y_teste, pred_Arvore))
print(precision_score(y_teste, pred_Log))

0.527027027027027
0.7278911564625851
0.935064935064935

In [32]:
print(recall_score(y_teste, pred_KNN))
print(recall_score(y_teste, pred_Arvore))
print(recall_score(y_teste, pred_Log))

0.5131578947368421
0.7039473684210527
0.9473684210526315